body {
  margin: O;
  background-color: rgb(224, 224, 224);
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-betweend {
  justify-content: space-between;
}

/* forms */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0;
  border-radius: 1rem;
  box-shadow: 5px 5px 7px lightgrey;
  background-color: white;
  margin: auto;
  width: 50vw;
  padding: 1rem 1.5rem;
  margin-top: 30vh;
}

.form-container .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.form-container .content > div {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.form-container input[type="submit"] {
  margin-top: 1rem;
  background-color: rgb(106, 106, 251);
  padding: .5rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form-container label {
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: .3rem;
}

.form-container input {
  border-radius: 5px;
  font-size: 1.1rem;
  border: 0;
  background-color: rgb(240, 240, 240);
}

.error-list {
  background-color: #ff000094;
  border-radius: 5px;
  color: white;
  padding: .5rem .7rem;
  margin-bottom: 2rem;
}

.error-list li {
  list-style: none;
}

.errorlist {
  display: none;
}
