{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center my-2">
    <h1 class="ms-3">Loans</h1>

    <h2>
      <a href="new" class="btn btn-primary me-2">
        Create a new one
      </a>
    </h2>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    {% for loan in collection %}
      <div class="card w-25 m-2">
        <div class="card-body">
          <h2>{{ loan.book.title }}</h2>

          <p>{{ loan.loaner_name }}</p>

          <p>Should be returned at {{ loan.should_be_returned_at }}</p>

          <p>State :
            {% if loan.state == 'AVAILABLE' %}
              <span class="badge rounded-pill text-bg-success">{{ loan.state }}</span>
            {% elif loan.state == 'LOAN' %}
              <span class="badge rounded-pill text-bg-warning">{{ loan.state }}</span>
            {% else %}
              <span class="badge rounded-pill text-bg-secondary">{{ loan.state }}</span>
            {% endif %}
          </p>
        </div>

        <div class="card-footer d-flex justify-content-around">
          <a href='/loans/{{loan.id}}'
             class="btn btn-primary">
            Show
          </a>

          <a href='/loans/return/{{loan.id}}'
             class="btn btn-secondary">
            Return
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
